name: CD Pipeline

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Make scripts executable
        run: chmod +x ./scripts/*.sh

      - name: Debug scripts folder
        run: ls -la ./scripts

      - name: Deploy to QA
        run: bash ./scripts/deploy-qa.sh

      - name: Run Smoke Tests
        run: bash ./scripts/run-smoke-tests.sh

      - name: Deploy to Staging
        run: bash ./scripts/deploy-staging.sh

      - name: Run E2E Tests
        run: bash ./scripts/run-e2e-tests.sh

      - name: Manual Approval
        run: echo "Waiting for production approval..."

      - name: Blue-Green Switch
        run: bash ./scripts/switch-blue-green.sh

      - name: Post-Deploy Tests
        run: bash ./scripts/run-post-deploy-tests.sh

      - name: Health Check
        run: bash ./scripts/health-check.sh
